@using eShop.BLL.DTOs.CategoryDTOs
@using eShop.BLL.DTOs.ProductDTOs



@model UpdateProductDto





<br />
<br />



<h3 class="text-3xl text-center font-bold dark:text-white">Edit Category</h3>

<br />
<br />

<div style="width:500px; margin:0 auto">



    <form asp-controller="foods" asp-action="Edit" method="post" enctype="multipart/form-data" class="max-w-md mx-auto">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />
        <br />
        <h5 class="text-3xl text-center font-bold dark:text-white">Currnt image</h5>
        <br />
        <img class="h-auto max-w-lg transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="~/@Model.ImageUrl" asp-append-version="true" alt="image description">

        <br />
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Food Name</label>
            <input asp-for="Name" value="@Model.Name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Food Name" required />
        </div>

        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <input asp-for="Description" value ="@Model.Description" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Some info about Food" required />
        </div>
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <input asp-for="Price" value ="@Model.Price" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Price" required />
        </div>
        <div>
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an Category</label>
            <select  asp-for="CategoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected   value="@Model.Category.Id"  disabled>@Model.Category.Name</option>

                @foreach(var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                    
                }
            </select>
        </div>




             
      

        <div class="relative z-0 w-full mb-5 group">

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload file</label>
            <input asp-for="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file">

        </div>

        <div class="flex align-items-center">
            <a asp-controller="foods" asp-action="index" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Cansel</a>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

        </div>

    </form>


</div>